--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
pydantic
python-dotenv
pandas
numpy
wikipedia
chromadb
langchain
langchain-community
langchain-chroma
langchain-google-genai
sentence-transformers
torch
